<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yiweishi.runoob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/run"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".RunoobMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MessageActivity" />
        <activity android:name=".NotifshowActivity" />
        <activity android:name=".ShowViewActivity"></activity>
    </application>

</manifest>